body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #858599, #afe2e6);
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.color-picker {
    margin-top: 20px;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
}
h3{
    color: #141414;
}
